# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Orbax checkpoints
checkpoints/

# Dataset
data/

# Operating system
.DS_Store
Thumbs.db

# Gradio
.gradio/